*{
    box-sizing: border-box; /* éviter le bordement */
}

/* Reset = réinitialise les données pré-enregistrées du navigateur. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-image: url("../img/palm-leaves-shadows-on-sandy-wall.jpg"); /* Attention ici nous sommes dans le dossier css, les chemins ne sont pas les mêmes que dans l'index.html */
}

h1{
    font-size: 45px;
    font-family:'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

h2{
    font-size: 35px;
    color: black;
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(189, 132, 140);
}

h3{
    font-size: 22px;
    color: black;
    padding: 15px;
    text-shadow: 1px 1px 2px rgb(189, 132, 140) ;
}

h4{
    text-align: center;
    margin-top: 30px;
}

blockquote{
    font-style: italic;
    font-size: 120%;
}

strong{
    font-weight: bold;
}

/* ************ HEADER ************* */
header{
    background-color: rgb(189, 132, 140);
    height: 175px;
}

#logo{
    float: left;
    width: 25%;
    background-color:rgb(189, 132, 140);
    padding: 15px;
    text-align: center;

}

#slogan{
    float: left;
    width: 50%;
    background-color: rgb(189, 132, 140);
    padding-top: 50px;
}

#social{
    float: left;
    width: 25%;
}

#social i{
    background-color: rgb(189, 132, 140);
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0 rgb(235, 194, 199);
    display: block;
}
header a {
    color: rgb(66, 31, 36);
    text-decoration: none;
}


/* ************ Début nav ************* */
nav{
    background-color:rgb(189, 132, 140) ;
    height: 70px;
    border-bottom: 8px solid rgb(189, 132, 140);
    text-align: center;
    padding: 15px;
}

nav a{
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px; /* en haut en bas,  droite et gauche*/
    border: 2px solid rgb(235, 194, 199);
    background-color:rgb(235, 194, 199);
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    transition: 0.5s;
}

nav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.activ{
    background-color: rgb(189, 132, 140);
} 


/* ************ FIN nav ************* */

main{
    background-color: rgb(189, 132, 140);
    width: 1000px;
    margin: 0 auto;
}

aside{
    height: 250px;
    background-color: rgb(236, 178, 191);
}

section{
    margin-top: 50px;
    padding: 20px;
    background-color:  rgb(117, 65, 72, 0.5);
}

footer{
    background-color: rgb(189, 132, 140);
    height: 30px;
    text-align: right;
    padding: 5px 10px;
}


/* ************ Debut page textes ************* */

.roboto p{
    font-family:'Roboto', sans-serif;
}


/* ************ Debut page selecteurs ************* */

.select p{
    color: rgb(117, 65, 72, 0.5);
}

.select p:first-of-type, .select p:last-of-type{
color: rgb(117, 65, 72, 0.5);
}

.select p:nth-of-type(5), .select p:nth-of-type(6){
   color: rgb(117, 65, 72, 0.5); 
}

.select div:not(.zoneB){
    font-weight: bold;
}

.select .zoneA{
    color: black;
}

.select .zoneB{
    color: black;
}

.select .zoneB .couleurBleu{
    color: black;
    font-size: 16px;
}

.select #zoneC{
    color: black;
}

.select #zoneD{
    color: black;
    font-size: 30px;
    font-style: italic;
}

/* ************ Debut page images ************* */
.imageFond{
    background: black url(../img/fond.jpg) no-repeat;
    background-size: cover;
}

.imageFond p{
    width: 75%;
    margin: 100px auto 200px auto;
    background-color: rgba(255, 255, 255, 0.60);
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}

figure{
    margin: auto;
    width: 250px;
    display: block;
    background-color: rgba(0, 0, 0, 0.671);
}

figcaption{
    color: white;
    text-align: center;
    padding: 2px;
    font-style: oblique;
}

.rotationImg{
    text-align: center;
}

.image{
    margin: 20px;
    border: 5px solid #eee;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.image:hover{
    transform: rotate(-7deg);
    border: 15px solid #eee;
}

.rotation360:hover{
    transform: rotate(-360deg);
}

/* ************ Debut page positions ************* */
/* ABSOLUTE */
.centre{
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: pink;
}

.absolute{
    position: absolute;
    top: 24%;
    left: 10%;
    background: plum;
    width: 100px;
    height: 100px;
}

/* RELATIVE */
.relative{
    background-color: purple;
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 10px;
    left: 100px;
}
.relative div{
    position: absolute;
    top:0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: rebeccapurple;
}

/* ************ BOUTON RETOUR EN HAUT FIXED ************* */
button{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 350%;
    color: purple;
}

/* ************ POURCENTAGE ************* */
.trente{
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background-color: violet;
    color: black;
    font-weight: bold;
}

.cinquante{
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background-color: rgb(236, 181, 236);
    color: rgb(41, 40, 40);
    font-weight: bold;
    margin-top: 7px;
}

.cent{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background-color: rgb(70, 58, 70);
    color: rgb(124, 91, 91);
    font-weight: bold;
    margin-top: 7px;
}

/* ************ FLOAT ************* */
.float{
    height: 170px;
    width: 170px;
    margin: 10px;
    padding-top: 2px;
    float: left;
    text-align: center;
    font-size: 25px;
    background-color: pink;
    border: 2px ridge rgb(77, 8, 77);
}

.dernier{
    height: 170px;
    width: 170px;
    margin: 10px;
    padding-top: 2px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(77, 8, 77);
    border: 2px ridge pink;

}

.clear{
    clear: both;
}



/* ************ Exercice sur le float ************* */
.zone{
    height: 60px;
    background-color: gray;
}

.zone1{
    height: 250px;
    width: 25%;
    background-color: pink;
    float: left;
}
.zone2{
    height: 250px;
    width: 25%;
    background-color: rgb(61, 29, 34);
    float: left;
}
.zone3{
    height: 250px;
    width: 25%;
    background-color: rgb(236, 47, 79);
    float: left;
}
.zone4{
    height: 250px;
    width: 25%;
    background-color: rgb(83, 67, 70);
    float: left;
}

.clear{
    clear: both;
}
 
/* ************ Fin Exercice sur le float ************* */



/* ************ Exercice FLEX ************* */
.flex{
    display: flex;
    justify-content: space-between;
}
.flex div{
    width: 15%;
    height: 130px;
    border: 7px outset violet;
    /* border-right: 7px solid rgb(110, 23, 110);
    border-bottom: 7px solid rgb(110, 23, 110);
    border-left: 7px solid rgb(168, 78, 168);
    border-top:7px solid rgb(168, 78, 168);*/
    background-color: rgb(102, 50, 102);
    text-align: center;
    font-size: 20px;
    color: wheat;
}
/* ************ Fin Exercice FLEX ************* */


/* ************ TABLEAUX ************* */
table{
    border-collapse: collapse; /* pas d'écart entre les cellules */
    border: 2px solid violet;
    font-weight: bold;
    margin : 20px auto;
    width: 80%;
}

caption{
    padding: 5px;
}

.tableau thead, .tableau tfoot{
    background-color: wheat;
    border: 1px solid violet;
}

.tableau tbody{
    border: 1px dotted violet;
}

.tableau th{
    border: 1px solid violet;
    padding: 5px;
    width: 20%;
}

.tableau td{
    border: 1px solid violet;
    font-size: 80%;
    padding: 5%;
    text-align: center;
}

